<h2><%= @stores.total_count %> Total Stores</h2>

<% @stores.each do |store| %>
  <div class="store">
    <p class="long_name">Full name: <%= store.long_name %></p>
    <p class="city">City: <%= store.city %></p>
    <p class="distance">Distance: <%= store.distance %></p>
    <p class="phone">Phone: <%= store.phone %></p>
    <p class="type">Store type: <%= store.type %></p>
    <br>
  </div>
<% end %>